.navbar{
    font-family: "Merriweather", serif;
    padding: 0px 150px;
    height: 84px;
    .p-menubar-root-list {
    flex: 1;
    justify-content: flex-end;
    gap: 40px;
    }
    .p-menubar-root-list li{
        text-transform: uppercase;
    }
    button{
        margin-left: 60px;
    }
}