.ourwork-container{
    padding: 100px;
    .ourwork-options{
        display: flex;
        gap: 60px;
        justify-content: center;
        margin: 60px 0px;
        .option{
            font-size: 24px;
            font-weight: bold;
            &:hover{
                cursor: pointer;
                color: white;
            }
        }
        .selected{
            background-color: #FF5678;
            color: white;
        }
    }
    .btn-container{
        display: flex;
        justify-content: center;
        margin-top: 60px;
    }
}